
@{
    ViewData["Title"] = "AuthorizationView";
}
<form method="post">
    <label>Логин:</label><br />
    <input type="text" name="Name" /><br /><br />
    <label>Пароль:</label><br />
    <input type="text" name="Pass" /><br /><br />
    <button type="submit" name="action" value="Authorization">Войти</button><br /><br />
    <button type="submit" name="action" value="Registration">Зарегистрироваться</button>

</form>
<h2>AuthorizationView</h2>

